{% extends 'base.html.twig' %}

{% block title %}Бүртгүүлэх{% endblock %}

{% block body %}
  <h2 style="margin:0 0 12px;">Бүртгүүлэх</h2>

  {# form helper нь _token-ийг автоматаар зөв нэрээр (registration_form[_token]) шургуулна #}
  {{ form_start(form, { attr: { autocomplete: 'off', novalidate: 'novalidate' } }) }}
    {{ form_row(form.email, {
      label: 'Имэйл',
      attr: { placeholder: 'name@example.com' }
    }) }}

    {{ form_row(form.plainPassword, {
      label: 'Нууц үг',
      attr: { placeholder: '••••••••' }
    }) }}

    <button type="submit">Бүртгүүлэх</button>
  {{ form_end(form) }}

  <p style="margin-top:12px;">
    Аль хэдийн бүртгэлтэй? <a href="{{ path('app_login') }}">Нэвтрэх</a>
  </p>
{% endblock %}
